table.is-full-width
  thead
    tr
      th Évènement
      th Lieu
      th Date

  tbody

    <!-- FullStack -->
    tr
      th
        a(
        target="_blank"
        href="https://skillsmatter.com/conferences/7278-fullstack-2016-the-conference-on-javascript-node-and-internet-of-things"
        ) FullStack
      td Londres, UK
      td 13-15 Juillet, 2016


    <!-- UtahJS -->
    tr
      th
        a(
        target="_blank"
        href="https://conf.utahjs.com/"
        ) UtahJS
      td Salt Lake City, UT, Etats-Unis
      td 16 Sept, 2016

    <!-- Angular Connect -->
    tr
      th
        a(
        target="_blank"
        href="http://angularconnect.com/"
        ) Angular Connect
      td Londres, Royaume-Uni
      td 27-28 Sept, 2016


    <!-- ng-europe -->
    tr
      th
        a(
        target="_blank"
        href="https://ngeurope.org/"
        ) ng-europe
      td Paris, France
      td 24-26 Oct, 2016


    <!-- Devoxx Belgium -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devoxx.be/"
        ) Devoxx Belgium
      td Anvers, Belgique
      td 7-11 Nov, 2016


    <!-- DEVIntersection -->
    tr
      th
        a(
        target="_blank"
        href="https://www.devintersectioneurope.com/"
        ) DEVintersection Europe
      td Amsterdam, Pays-Bas
      td 14-16 Nov, 2016


    <!-- dotJS -->
    tr
      th
        a(
        target="_blank"
        href="http://www.dotjs.io/"
        ) dotJS
      td Paris, France
      td 5 Déc, 2016

    <!-- NG-BE -->
    tr
      th
        a(
        target="_blank"
        href="https://ng-be.org/"
        ) NG-BE
      td Gand, Belgique
      td 9 Déc, 2016
