div.card-row.docs-landing.layout-align-space-around-center.layout-row.flex
  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase Démarrage rapide
          p Une courte introduction aux bases d'Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html") Consulter l'introduction


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase Guide du développeur
          p Un guide avancé couvrant l'ensemble des fonctionnalités majeures d'Angular

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/") Consulter le Guide


  div.card-row-container
    md-card.card
      md-card-content.layout-align-space-between-center.layout-column.flex
        div
          h2.text-headline.text-uppercase Index API
          p Un index exhaustif de l'API d'Angular : Classes, Méthodes, etc.

        footer
          a.button.md-button(href="/docs/#{current.path[1]}/#{current.path[2]}/api/") Consulter l'index API

